<ul>
  <% @articles.each do |article| %>
    <li><%= link_to article.title, article_path(article) %>- <%= article.content %></li>
  <% end %>
</ul>
<p><%= link_to "Add new article", new_article_path%></p>
